.navBar {
    padding: 10px;
    background-image: linear-gradient(to right, #114357, #F29492);
}

.button2 {
    padding: 16px;
    font-size: 15px;
    margin: 10px;
    border-radius: 8px;
    transition-duration: 0.4s;
    background-color: #555555;
    color: white;
}

.button2:hover {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}